# Prever chuva de meteorito

Para iniciar a preparação dos dados precisamos ter algumas informações em mente.
*   Meteoroides que derretem de cometas normalmente causam chuvas de meteoros.
*   Os cometas têm uma órbita ao redor do Sol que é observável e previsível.
*   Uma Lua brilhante torna uma chuva de meteoros mais difícil de ver.
*   A órbita e rotação da Terra afeta onde uma chuva de meteoros pode ser vista da Terra.

Os dados vão vim de meteoritos mais comuns, com isso existe 4 cometas que são usados para prever quando vai acontecer chuva de meteorito. São eles:

### Cometa Thacther

* Descoberto em 1861;
* 415,5 anos para orbitar o Sol;
* Cria uma chuva de meteoros Lyrids em abril;
* A primeira chuva registrada de meteoros Lyrids é de 687a.C;
* Vem da direção da constalção de Lyra;
* Mas, o cometa e a chuva não se originam de la.

### Cometa Halley

* Descoberto em 1531;
* Somente em 1705 foi descoberto que era o mesmo cometa avistado em 1531, 1607 e 1682;
* 76 anos para orbitar o Sol;
* Chuva de meteoros Eta Aquarids em maio;
* E Chuva de meteoros Orionids em outubro;
* Chuva de meteoros Eta Aquarids vem da direção da constelaçao de Aquário;
* A chuva de meteoros Orionids da direção da constelação de Orion.

### Cometa Swift-Tuttle

* Descoberto em 1862;
* 133 anos para orbitar o Sol;
* Chuva de meteoros Perseidas em agosto;
* Vem da direção da constelação de Perseu.

### Cometa Tempel-Tuttle

* Descoberto independentemente duas vez em 1865 e 1866;
* 33 anos para orbitar o Sol;
* Cria uma chuva de meteoros Leônidas a cada novembro;
* A cada 33 anos, a chuva de meteoros LLeônidas se torna tempestade de meteoros;
* Vem em direção da constelação de Leão.

## Fases da Lua

As fases da Lua são:

* Lua Nova: Por volta do 15º do mês
* Lua Crescente;
* Quarto Crescente: Por volta do 23º do mês;
* Lua Gibosa;
* Lua Cheia: Por volta do 1º do mês;
* Lua Balsâmica;
* Quarto minguante: Por volta do 10º do mês;
* Lua Minguante.

A Lua nova, no primeiro quarto e a Lua cheia no terceiro quarto, são as fases mais frequentes registradas. Cada fase tem 29 dia e vai depender do número de dias tem o mês.

In [2]:
import numpy as np
import pandas as pd

In [3]:
meteor_showers = pd.read_csv('data/meteorshowers.csv')
moon_phases = pd.read_csv('data/moonphases.csv')
constellation = pd.read_csv('data/constellations.csv')
cities = pd.read_csv('data/cities.csv')

In [6]:
meteor_showers.head()

,name,radiant,bestmonth,startmonth,startday,endmonth,endday,hemisphere,preferredhemisphere
0,Lyrids,Lyra,april,april,21,april,22,northern,northern
1,Eta Aquarids,Aquarius,may,april,19,may,28,"northern, southern",southern
2,Orionids,Orion,october,october,2,november,7,"northern, southern","northern, southern"
3,Perseids,Perseus,august,july,14,august,24,northern,northern
4,Leonids,Leo,november,november,6,november,30,"northern, southern","northern, southern"

In [5]:
moon_phases.head()

     month  day      moonphase specialevent
0  january    1            NaN          NaN
1  january    2  first quarter          NaN
2  january    3            NaN          NaN
3  january    4            NaN          NaN
4  january    5            NaN          NaN

In [7]:
constellation.head()

  constellation bestmonth  latitudestart  latitudeend besttime hemisphere
0          Lyra    august             90          -40    21:00   northern
1      Aquarius   october             65          -90    21:00   southern
2         Orion   january             85          -75    21:00   northern
3       Perseus  december             90          -35    21:00   northern
4           Leo     april             90           65    21:00   northern