# Prever chuva de meteorito

Para iniciar a preparação dos dados precisamos ter algumas informações em mente.
*   Meteoroides que derretem de cometas normalmente causam chuvas de meteoros.
*   Os cometas têm uma órbita ao redor do Sol que é observável e previsível.
*   Uma Lua brilhante torna uma chuva de meteoros mais difícil de ver.
*   A órbita e rotação da Terra afeta onde uma chuva de meteoros pode ser vista da Terra.

Os dados vão vim de meteoritos mais comuns, com isso existe 4 cometas que são usados para prever quando vai acontecer chuva de meteorito. São eles:

### Cometa Thacther

* Descoberto em 1861;
* 415,5 anos para orbitar o Sol;
* Cria uma chuva de meteoros Lyrids em abril;
* A primeira chuva registrada de meteoros Lyrids é de 687a.C;
* Vem da direção da constalção de Lyra;
* Mas, o cometa e a chuva não se originam de la.

### Cometa Halley

* Descoberto em 1531;
* Somente em 1705 foi descoberto que era o mesmo cometa avistado em 1531, 1607 e 1682;
* 76 anos para orbitar o Sol;
* Chuva de meteoros Eta Aquarids em maio;
* E Chuva de meteoros Orionids em outubro;
* Chuva de meteoros Eta Aquarids vem da direção da constelaçao de Aquário;
* A chuva de meteoros Orionids da direção da constelação de Orion.

### Cometa Swift-Tuttle

* Descoberto em 1862;
* 133 anos para orbitar o Sol;
* Chuva de meteoros Perseidas em agosto;
* Vem da direção da constelação de Perseu.

### Cometa Tempel-Tuttle

* Descoberto independentemente duas vez em 1865 e 1866;
* 33 anos para orbitar o Sol;
* Cria uma chuva de meteoros Leônidas a cada novembro;
* A cada 33 anos, a chuva de meteoros LLeônidas se torna tempestade de meteoros;
* Vem em direção da constelação de Leão.

## Fases da Lua

As fases da Lua são:

* Lua Nova: Por volta do 15º do mês
* Lua Crescente;
* Quarto Crescente: Por volta do 23º do mês;
* Lua Gibosa;
* Lua Cheia: Por volta do 1º do mês;
* Lua Balsâmica;
* Quarto minguante: Por volta do 10º do mês;
* Lua Minguante.

A Lua nova, no primeiro quarto e a Lua cheia no terceiro quarto, são as fases mais frequentes registradas. Cada fase tem 29 dia e vai depender do número de dias tem o mês.

In [84]:
import numpy as np
import pandas as pd

In [85]:
meteor_showers = pd.read_csv('data/meteorshowers.csv')
moon_phases = pd.read_csv('data/moonphases.csv')
constellations = pd.read_csv('data/constellations.csv')
cities = pd.read_csv('data/cities.csv')

In [86]:
meteor_showers.head()

,name,radiant,bestmonth,startmonth,startday,endmonth,endday,hemisphere,preferredhemisphere
0,Lyrids,Lyra,april,april,21,april,22,northern,northern
1,Eta Aquarids,Aquarius,may,april,19,may,28,"northern, southern",southern
2,Orionids,Orion,october,october,2,november,7,"northern, southern","northern, southern"
3,Perseids,Perseus,august,july,14,august,24,northern,northern
4,Leonids,Leo,november,november,6,november,30,"northern, southern","northern, southern"

In [87]:
meteor_showers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 5 non-null      object
 1   radiant              5 non-null      object
 2   bestmonth            5 non-null      object
 3   startmonth           5 non-null      object
 4   startday             5 non-null      int64
 5   endmonth             5 non-null      object
 6   endday               5 non-null      int64
 7   hemisphere           5 non-null      object
 8   preferredhemisphere  5 non-null      object
dtypes: int64(2), object(7)
memory usage: 492.0+ bytes

In [88]:
moon_phases.head()

     month  day      moonphase specialevent
0  january    1            NaN          NaN
1  january    2  first quarter          NaN
2  january    3            NaN          NaN
3  january    4            NaN          NaN
4  january    5            NaN          NaN

In [89]:
moon_phases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   month         366 non-null    object
 1   day           366 non-null    int64
 2   moonphase     50 non-null     object
 3   specialevent  10 non-null     object
dtypes: int64(1), object(3)
memory usage: 11.6+ KB

In [90]:
constellations.head()

  constellation bestmonth  latitudestart  latitudeend besttime hemisphere
0          Lyra    august             90          -40    21:00   northern
1      Aquarius   october             65          -90    21:00   southern
2         Orion   january             85          -75    21:00   northern
3       Perseus  december             90          -35    21:00   northern
4           Leo     april             90           65    21:00   northern

In [91]:
constellations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   constellation  5 non-null      object
 1   bestmonth      5 non-null      object
 2   latitudestart  5 non-null      int64
 3   latitudeend    5 non-null      int64
 4   besttime       5 non-null      object
 5   hemisphere     5 non-null      object
dtypes: int64(2), object(4)
memory usage: 372.0+ bytes

# Converter em números

Ao verificar o tipo dos dados, foi observado que alguns estão no tipo string, pore, alguns dados fazem sentidos estarem como caractere, outros ficariam melhor representados em inteiros, como os meses e as fases da lua.
Para mudar isso vamos fazer as sequintes etapas:
* Criar um mapa de meses e seus respectivos números;
* Mapea os mes para as colunas que tem meses; 
* Por fim salvar

In [92]:
months = {'january':1, 'february':2, 'march':3, 'april':4, 'may':5, 'june':6, 'july':7, 'august':8, 'september':9, 'october':10, 'november':11, 'december':12}
meteor_showers.bestmonth = meteor_showers.bestmonth.map(months)
meteor_showers.startmonth = meteor_showers.startmonth.map(months)
meteor_showers.endmonth = meteor_showers.endmonth.map(months)
moon_phases.month = moon_phases.month.map(months)
constellations.bestmonth = constellations.bestmonth.map(months)

In [93]:
meteor_showers.head()

,name,radiant,bestmonth,startmonth,startday,endmonth,endday,hemisphere,preferredhemisphere
0,Lyrids,Lyra,4,4,21,4,22,northern,northern
1,Eta Aquarids,Aquarius,5,4,19,5,28,"northern, southern",southern
2,Orionids,Orion,10,10,2,11,7,"northern, southern","northern, southern"
3,Perseids,Perseus,8,7,14,8,24,northern,northern
4,Leonids,Leo,11,11,6,11,30,"northern, southern","northern, southern"

In [94]:
meteor_showers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 5 non-null      object
 1   radiant              5 non-null      object
 2   bestmonth            5 non-null      int64
 3   startmonth           5 non-null      int64
 4   startday             5 non-null      int64
 5   endmonth             5 non-null      int64
 6   endday               5 non-null      int64
 7   hemisphere           5 non-null      object
 8   preferredhemisphere  5 non-null      object
dtypes: int64(5), object(4)
memory usage: 492.0+ bytes

In [95]:
meteor_showers['startdate'] = pd.to_datetime(2020*10000+meteor_showers.startmonth*100+meteor_showers.startday,format='%Y%m%d')
meteor_showers['enddate'] = pd.to_datetime(2020*10000+meteor_showers.endmonth*100+meteor_showers.endday,format='%Y%m%d')

In [96]:
moon_phases['date'] = pd.to_datetime(2020*10000+moon_phases.month*100+moon_phases.day,format='%Y%m%d')

In [97]:
hemispheres = {'northern': 0, 'southern': 1, 'northern, southern':3}
meteor_showers.hemisphere = meteor_showers.hemisphere.map(hemispheres)
constellations.hemisphere = constellations.hemisphere.map(hemispheres)

Agora vamos converte as fases da lua, para as porcentagens que representa a parte visivel da lua

In [98]:
phases = {'new moon': 0, 'third quarter':0.5, 'first quarter':0.5, 'full moon':1.0}
moon_phases['percentage'] = moon_phases.moonphase.map(phases)
moon_phases.head()

   month  day      moonphase specialevent       date  percentage
0      1    1            NaN          NaN 2020-01-01         NaN
1      1    2  first quarter          NaN 2020-01-02         0.5
2      1    3            NaN          NaN 2020-01-03         NaN
3      1    4            NaN          NaN 2020-01-04         NaN
4      1    5            NaN          NaN 2020-01-05         NaN

Agora vou remover algumas colunas que não serão utilizadas

In [99]:
meteor_showers = meteor_showers.drop(['startmonth', 'startday', 'endmonth', 'endday', 'hemisphere'], axis=1)
moon_phases = moon_phases.drop(['month', 'day','moonphase','specialevent'], axis=1)
constellations = constellations.drop(['besttime'], axis=1)

# Organizar os dados faltando

In [100]:
lastPhase = 0

for index, row in moon_phases.iterrows():
    if pd.isnull(row['percentage']):
        moon_phases.at[index, 'percentage'] = lastPhase
    else:
        lastPhase = row['percentage']
        
moon_phases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        366 non-null    datetime64[ns]
 1   percentage  366 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

# Etapa de previsão

Para fazer a previsão de uma futura chuva de meteoros, precisamos determina algumas informações, como onde, qual o dia que terá a chuva de meteoros?

In [101]:
meteor_showers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 5 non-null      object
 1   radiant              5 non-null      object
 2   bestmonth            5 non-null      int64
 3   preferredhemisphere  5 non-null      object
 4   startdate            5 non-null      datetime64[ns]
 5   enddate              5 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 372.0+ bytes

In [102]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   city      256 non-null    object
 1   latitude  256 non-null    float64
 2   country   256 non-null    object
dtypes: float64(1), object(2)
memory usage: 6.1+ KB

In [103]:
constellations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   constellation  5 non-null      object
 1   bestmonth      5 non-null      int64
 2   latitudestart  5 non-null      int64
 3   latitudeend    5 non-null      int64
 4   hemisphere     5 non-null      int64
dtypes: int64(4), object(1)
memory usage: 332.0+ bytes

Para escrever a previsão iremos precisar de:
* Determine a latitude de uma cidade.
* Usar essa latitude para descobrir quais constelações 
são visíveis para aquela cidade.
* Usar as constelações para determinar quais chuvas de meteoros são visíveis para aquela cidade.
* Usar as chuvas de meteoros para determinar as datas em que elas são visíveis.
* Usar as datas para encontrar a data ideal que tenha a menor quantidade de luz da Lua

In [109]:
def predict_best_meteor_shower_viewing(city):
    #Criando uma string vazia para depois repassar a mensagem ao usuario
    meteor_shower_string = "" 
    
    if city not in cities.values:
        meteor_shower_string = "Unfortunately, "+ city + " isn't avaiable for a prediction at this time."
        return meteor_shower_string
    
    #Vamos fazer uma busca no dataframe e determinar, se o dado for verdadeiro ele retorna a latitude
    latitude = cities.loc[cities['city'] == city, 'latitude'].iloc[0]
    
    #Depois que conseguimos pegar a latitude que desejamos da cidade que queremos prever, vamos determinar quais constelações são visiveis.
    constellation_list = constellations.loc[(constellations['latitudestart'] >= latitude) & (constellations['latitudeend'] <= latitude), 'constellation'].tolist()
    
    #Se não for possível ver nenhuma constelação, o utilizador é informado
    if not constellation_list:
        meteor_shower_string = "Unfortunately, there are no meteor showers viewable from "+ city + "."
    
    meteor_shower_string = "In " + city + " you can see the following meteor showers:\n"
    
    #Normalmente as chuvas de meteoros são associadas há alguma constelação, por isso vamos usar as constelações existente na cidade buscada para definir quais chuvas de meteoros vai ser visivel
    #Iteração para ver as contelações existentes nas cidade
    for constellation in constellation_list:
        
        #Procurar chuva de meteoros proximos a constelação
        meteor_shower = meteor_showers.loc[meteor_showers['radiant'] == constellation, 'name'].iloc[0]
       
        #procurar pelas datas de inicio e fim das chuvas de meteoros
        meteor_shower_startdate = meteor_showers.loc[meteor_showers['radiant'] == constellation, 'startdate'].iloc[0]
        meteor_shower_enddate = meteor_showers.loc[meteor_showers['radiant'] == constellation, 'enddate'].iloc[0]

        #Encontrar as fases da Lua para cada data no perido de tempo da chuva de meteoro
        moon_phases_list = moon_phases.loc[(moon_phases['date'] >= meteor_shower_startdate) & (moon_phases['date'] <= meteor_shower_enddate)]
        
        best_moon_date = moon_phases_list.loc[moon_phases_list['percentage'].idxmin()]['date']

        meteor_shower_string += meteor_shower + " is best seen if you look towards the " + constellation + " constellation on " +  best_moon_date.to_pydatetime().strftime("%B %d, %Y") + ".\n"


    return meteor_shower_string

In [110]:
print(predict_best_meteor_shower_viewing('Abu Dhabi'))

In Abu Dhabi you can see the following meteor showers:
Lyrids is best seen if you look towards the Lyra constellation on April 22, 2020.
Eta Aquarids is best seen if you look towards the Aquarius constellation on April 22, 2020.
Orionids is best seen if you look towards the Orion constellation on October 16, 2020.
Perseids is best seen if you look towards the Perseus constellation on July 20, 2020.